.navbar {
  /* background: #343434; */
  transition: all 0.5s;
}
.navbar-scrolled {
  background-color: #232323;
  background-opacity: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
#particles-js {
}

.jumbotron {
  background-color: #232323;
  background-image: url("/img/aurora.gif");
  background-opacity: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}

#about {
  background-color: #343434;
  color: white;
}
#projects {
  background-color: #232323;
}

.gelombang {
  margin-bottom: -0.25rem !important;
}
.gel1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(9, 9, 121, 0) 0%,
    rgba(52, 52, 52, 1) 91%
  );
}

#about {
  scroll-margin-top: 4rem;
}

.card {
  margin-bottom: 1rem;
}
.card-img-top {
  object-fit: cover;
  width: 100%;
}

footer {
  background-color: #111111;
}
#imgproject {
  cursor: pointer;
  transition: 0.3s;
}
#imgproject:hover {
  opacity: 0.7;
}
