.navbar {
  /* background: #343434; */
  transition: all 0.5s;
}
.navbar-scrolled {
  background-color: #23263a;
  background-opacity: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
#particles-js {
}

body {
  background-color: #212336;
}

.jumbotron {
  /* background-color: #2c3e50; */
  color: #ecf0f1;
  /* background-image: url("/img/aurora.gif"); */
  background-opacity: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 15rem;
}

#about {
  /* background-color: #343434; */
  color: white;
}
#projects {
  /* background-color: #232323; */
}

.gelombang {
  margin-bottom: -0.25rem !important;
}
.gel1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(9, 9, 121, 0) 0%,
    rgba(52, 52, 52, 1) 91%
  );
}

#about {
  scroll-margin-top: 4rem;
}

.card {
  margin-bottom: 1rem;
}
.card-img-top {
  object-fit: cover;
  width: 100%;
}
#contact {
  color: #ffff;
}
footer {
  background-color: #23263a;
}
#imgproject {
  cursor: pointer;
  transition: 0.3s;
}
#imgproject:hover {
  opacity: 0.7;
}

.modal {
  background-color: #212336;
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
/* .btn-outline-info {
  color: #fff;
  background-color: #ca4250;
  border-color: #ca4250; /*set the color you want here*/
/* }
.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active,
.open > .dropdown-toggle.btn-outline-info {
  color: #fff;
  background-color: #34495e;
  border-color: #ca4250; set the color you want here
} */
